<div class="media text-muted post-listing pt-3 px-2">
    <div class="media-body small border rounded p-1 border-gray">
	<div class="d-flex mb-2 align-content-center">
	    <strong class="text-gray-dark">
		Lorem Ipsum
	    </strong>
	    <span class="badge badge-info ml-auto">Linear Algebra</span>
	    <span class="badge badge-info ml-1">Exam</span>
	    <span class="badge badge-info ml-1">Fall 2018</span>
	</div>
        <p class="mb-2">
	    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	</p>
	<div class="font-weight-light d-flex">
	    <span>
		100 cheers &bull; 42 comments &bull; Timestamp &bull; test@example.com
	    </span>
	    <a class="ml-auto" href="#">
		View Post
	    </a>
	</div>
    </div>
</div>
