<div class="media text-muted post-listing pt-3 px-2">
    <div class="media-body small border rounded p-1 border-gray">
	<div class="d-flex mb-2 align-content-center">
	    <strong class="text-gray-dark">
		{{ post.title }}
	    </strong>
	    <span class="badge badge-info ml-auto course-name">
		{{ post.course.name }}
	    </span>
	    <span class="badge badge-info ml-1">
		{{ post.category.name }}
	    </span>
	    <span class="badge badge-info ml-1">
		{{ post.semester.season }} {{ post.semester.year }}
	    </span>
	</div>
        <p class="mb-2">
	    {{ post.content }}
	</p>
	<div class="font-weight-light d-flex">
	    <span>
		{{ post.cheers_count }} cheers &bull; {{ post.comments_count }} comments &bull; {{ post.timestamp | date }} &bull; {{ post.author.email }}
	    </span>
	    <a class="ml-auto" href="#">
		View Post
	    </a>
	</div>
    </div>
</div>
