<div class="d-flex align-items-center p-3 my-3 bg-teal rounded box-shadow">
    <div class="ml-2 lh-100">
        <h6 class="mb-0 lh-100">{{ course?.name }}</h6>
    </div>

    <div class="ml-auto mr-2">
	<button type="button"
		class="btn open-new-post-modal"
		(click)="open(content)">
	    New Post
	</button>
    </div>
</div>

<app-post-list [courses]="[course]"
	       [limit]="10"
	       [refreshEvents]="refreshEvents"></app-post-list>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
	<h5 class="modal-title">New Post</h5>
	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	    <span aria-hidden="true">&times;</span>
	</button>
    </div>
    <div class="modal-body new-post-modal-body">
	<form (submit)="submit(title.value, category.value, content.value)">
	    <div class="form-group">
		<label for="newPostTitle">Title</label>
		<input #title
		       type="text"
		       class="form-control"
		       id="newPostTitle"
		       placeholder="Title...">
	    </div>
	    <div class="form-group">
		<label for="newPostCategory">Category</label>
		<select #category
		    class="form-control" 
			   id="newPostCategory">
		    <option *ngFor="let category of categories$ | async"
			    [value]="category.id">
			{{ category.name }}
		    </option>
		</select>
	    </div>
	    <div class="form-group">
		<label for="newPostContent">Content</label>
		<textarea #content
			  class="form-control" 
			  id="newPostContent" 
			  rows="5"
			  placeholder="Content..."></textarea>
	    </div>

	    <button type="submit"
		    class="btn btn-primary">
		Submit
	    </button>
	</form>
    </div>
</ng-template>
