<!-- thanks to https://getbootstrap.com/docs/4.1/examples/sign-in/ -->
<form class="form-signin mt-3"
      [formGroup]="form"
      (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <label for="inputEmail"
	   class="sr-only">
	Email address
    </label>
    <input formControlName="email"
	   type="email"
	   id="email"
	   class="form-control"
	   placeholder="Email address *">

    <label for="inputPassword"
	   class="sr-only">
	Password
    </label>
    <input formControlName="password"
	   type="password"
	   id="password"
	   class="form-control"
	   placeholder="Password *">

    <label for="inputPasswordConfirmation"
	   class="sr-only">
	Password Confirmation
    </label>
    <input formControlName="passwordConfirmation"
	   type="password"
	   id="passwordConfirmation"
	   class="form-control"
	   placeholder="Password Confirmation *">

    <button class="btn btn-lg btn-primary btn-block register-submit"
	    type="submit"
	    [disabled]="form.invalid">
	Create account
    </button>
</form>

<div *ngIf="registered"
     class="d-flex justify-content-center">
    <div class="alert alert-success registration-success"
	 style="max-width: 20rem;"
	 role="alert">
	<strong>Registration success.</strong> Please check your email for an activation link.
	You will not be able to login until the account has been verified.
    </div>
</div>

<div class="form-signin pb-0">
    <p>
	Have an account?
	<a routerLink="/auth/login"
	   class="btn btn-link ml-0 login">
	    Login
	</a>
    </p>
    <p class="mb-0">
	Missing the verification email?
	<button type="button"
		      class="btn btn-link ml-0 resend-open"
		      (click)="isCollapsed = !isCollapsed">
	    Resend
	</button>
    </p>
</div>

<form class="form-signin"
      [ngbCollapse]="isCollapsed"
      [formGroup]="resendForm"
      (ngSubmit)="resendSubmit()">
    <label for="inputEmail"
	   class="sr-only">
	Email address
    </label>
    <input formControlName="email"
	   type="email"
	   id="resendEmail"
	   class="form-control"
	   placeholder="Email address *">

    <button class="btn btn-lg btn-primary btn-block resend-submit"
	    type="submit"
	    [disabled]="resendForm.invalid">
	Resend
    </button>
</form>

<div *ngIf="resent"
     class="d-flex justify-content-center">
    <div class="alert alert-success resend-success"
	 style="max-width: 20rem;"
	 role="alert">
	<strong>Verification email sent.</strong> Please check your email for an activation link.
	You will not be able to login until the account has been verified.
    </div>
</div>
