<div class="modal-header">
    <h5 class="modal-title">View Post</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
	<span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body view-post-modal-body p-1"
     *ngIf="post">
    <div class="card m-2">
	<h6 class="card-header">
	    {{ post.title }}
	</h6>
	<div class="card-body">
	    <div class="media">
		<app-cheer-image class="mr-3 align-self-top"
				 [count]="post.cheers.length"
				 (click)="cheer()"></app-cheer-image>
		<div class="media-body">
		    {{ post.content }}
		</div>
	    </div>
	</div>
	<ul class="list-group list-group-flush">
	    <a class="list-group-item list-group-item-action"
	       target="_blank"
	       href="#">
		<i class="fa fa-link fa-fw"></i>
		&nbsp;
		Link
	    </a>
	</ul>
	<div class="card-footer font-weight-light small">
	    {{ post.timestamp | date:'medium' }}
	    &bull;
	    <span class="post-author">
		{{ post.author.email }}
	    </span>
	    &bull;
	    <span class="cheer-count">
		{{ post.cheers.length }} cheer(s)
	    </span>
	    &bull;
	    {{ post.comments.length }} comment(s)
	    &nbsp;
	    <span class="badge badge-secondary post-course">
		{{ post.course.name }}
	    </span>
	    <span class="badge badge-secondary ml-1 post-category">
		{{ post.category.name }}
	    </span>
	    <span class="badge badge-secondary ml-1 post-semester">
		{{ post.semester.season }} {{ post.semester.year }}
	    </span>
	</div>
    </div>

    <hr>
    
    <form class="card m-2"
	  [formGroup]="commentForm"
	  (ngSubmit)="comment()">
	<div class="card-header">
	    Share your thoughts
	</div>
	<div class="card-body p-1">
	    <div class="form-group mb-0">
		<div class="input-group">
		    <quill-editor formControlName="content"
				  id="comment-content"
				  placeholder="Comment content..."
				  class="form-control pl-0"
				  style="border: 0;"
				  [style]="{height: '100px'}"
				  [modules]="quillModules"></quill-editor>

		    <div class="input-group-append">
			<button id="comment-submit"
				    type="submit"
				    class="btn btn-outline-secondary"
				    [disabled]="commentForm.invalid">
			    <i class="fa fa-share"></i>
			    Submit
			</button>
		    </div>
		</div>
	    </div>
	</div>
    </form>

    <div *ngIf="post.comments.length > 0">
	<hr>

	<ul class="list-unstyled mb-2">
	    <li *ngFor="let comment of post.comments; last as isLast"
		class="post-comment">
		<app-comment-list-item [comment]="comment"></app-comment-list-item>
	    </li>
	</ul>
    </div>
</div>

