<div class="container">
    <div class="row">
	<div class="col">
	    <div class="mx-auto text-center py-4">
		<h1 class="display-6">About</h1>
		<p class="lead">
		    Scarlet Studies would not be possible without the dedication of countless developers.
		</p>
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    <p>
		To that end, the entire project is <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html">licensed AGPL 3+</a>. This means you (the user) have four essential freedoms:
	    </p>
	    <ul>
		<li>The freedom to run the program as you wish, for any purpose (freedom 0).</li>
		<li>The freedom to study how the program works, and change it so it does your computing as you wish (freedom 1). Access to the source code is a precondition for this. </li>
		<li>The freedom to redistribute copies so you can help others (freedom 2). </li>
		<li>The freedom to distribute copies of your modified versions to others (freedom 3). By doing this you can give the whole community a chance to benefit from your changes. Access to the source code is a precondition for this. </li>
	    </ul>
	    <p class="small">
		Copied from <a target="_blank" href="https://www.gnu.org/philosophy/free-sw.en.html">gnu.org</a>
	    </p>
	    <p>
		In other words, <a target="_blank" href="https://github.com/russon77/ScarletStudies">visit our Github</a> and get involved!
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    <h5>Frontend Dependencies</h5>
	    <table class="table">
		<thead>
		    <tr>
			<th scope="col">Name</th>
			<th scope="col">License</th>
			<th scope="col">Link</th>
		    </tr>
		</thead>
		<tbody>
		    <tr *ngFor="let dep of frontendDependencies">
			<td>{{ dep.name }}</td>
			<td>{{ dep.license }}</td>
			<td>{{ dep.link }}</td>
		    </tr>
		</tbody>
	    </table>

	    <h5>Backend Dependencies</h5>
	    <table class="table">
		<thead>
		    <tr>
			<th scope="col">Name</th>
			<th scope="col">License</th>
			<th scope="col">Link</th>
		    </tr>
		</thead>
		<tbody>
		    <tr *ngFor="let dep of backendDependencies">
			<td>{{ dep.name }}</td>
			<td>{{ dep.license }}</td>
			<td>{{ dep.link }}</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    <h5>Contact</h5>
	    <p>
		You can contact the adminstrator of the site at <a href="mailto:todo@todo.com">todo@todo.com</a>.
	    </p>
	</div>
    </div>
</div>
