<!-- thanks to https://getbootstrap.com/docs/4.1/examples/sign-in/ -->
<form class="form-signin mt-3"
      [formGroup]="form"
      (ngSubmit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail"
	   class="sr-only">
	Email address
    </label>

    <input formControlName="email"
	   type="email"
	   id="email"
	   class="form-control"
	   placeholder="Email address *"
	   required>

    <label for="inputPassword"
	   class="sr-only">
	Password
    </label>

    <input formControlName="password"
	   type="password"
	   id="password"
	   class="form-control"
	   placeholder="Password *"
	   required>

    <button class="btn btn-lg btn-primary btn-block login"
	    type="submit"
	    [disabled]="form.invalid && form.touched">
	Sign in
    </button>
</form>

<div class="form-signin pb-0">
    <p>
	Need an account?
	<a routerLink="/register"
	   class="btn btn-link ml-0 register">
	    Register
	</a>
    </p>
    <p class="mb-0">
	Forgot your password?
	<button type="button"
		class="btn btn-link ml-0 forgot-open"
		(click)="isCollapsed = !isCollapsed">
	    Get Magic Link
	</button>
    </p>
</div>

<form class="form-signin"
      [ngbCollapse]="isCollapsed"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="forgotPassword()">

    <label for="forgotPasswordEmail"
	   class="sr-only">
	Email address
    </label>

    <input formControlName="email"
	   type="email"
	   id="forgotPasswordEmail"
	   class="form-control"
	   placeholder="Email address *">

    <button class="btn btn-lg btn-primary btn-block forgot-submit"
	    type="submit"
	    [disabled]="forgotPasswordForm.invalid">
	Get Email
    </button>
</form>

<div *ngIf="forgotPasswordDone"
     class="d-flex justify-content-center">
    <div class="alert alert-success forgot-success"
	 style="max-width: 20rem;"
	 role="alert">
	<strong>Email sent.</strong> Please check your email.
    </div>
</div>
