<div *ngIf="posts?.length > 0">
    <div class="list-group mb-2">
	<a *ngFor="let post of posts"
	   class="list-group-item list-group-item-action"
	   [routerLink]="['/dashboard', 'post', post.id]">
	    <app-post-list-item [post]="post"
					[options]="itemOptions"></app-post-list-item>
	</a>
    </div>

    <ngb-pagination class="d-flex justify-content-center"
		    [collectionSize]="collectionSize"
		    [page]="pageNum"
		    [pageSize]="20"
		    (pageChange)="paginate($event)"></ngb-pagination>
</div>

<div *ngIf="posts?.length === 0">
    There doesn't seem to be anything here.
</div>
