<!-- thanks to https://getbootstrap.com/docs/4.1/examples/jumbotron/ -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
	    <li class="nav-item active">
		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link login" routerLink="/login">Login</a>
	    </li>
	    <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		<div class="dropdown-menu" aria-labelledby="dropdown01">
		    <a class="dropdown-item" href="#">Action</a>
		    <a class="dropdown-item" href="#">Another action</a>
		    <a class="dropdown-item" href="#">Something else here</a>
		</div>
	    </li>
	</ul>
    </div>
</nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
	<div class="container">
	    <h1 class="display-3">Scarlet Studies</h1>
	    <p>Rutgers student groups.</p>
	    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up For Free &raquo;</a></p>
	</div>
    </div>

    <div class="container">
	<div class="row">
	    <div class="col-md-4">
		<h2>No Pay Walls.</h2>
		<p>Share notes directly with your classmates. Access previous semester content. For Free.</p>
	    </div>
	    <div class="col-md-4">
		<h2>No Fragmentation.</h2>
		<p>All Rutgers courses pre-loaded in a single location. No need to share numbers or hope for a Discord invite - everyone signs up here.</p>
	    </div>
	    <div class="col-md-4">
		<h2>Owned and Run by Students, for Students.</h2>
		<p>It's not Piazza, Blackboard, or Sakai. Vent your feelings about the teacher. Share homework answers.</p>
	    </div>
	</div>

	<hr>

    </div>

</main>

<footer class="container">
    <p>&copy; Tristan 2018</p>
</footer>
