<!-- thanks to https://getbootstrap.com/docs/4.1/examples/jumbotron/ -->

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
	<div class="container">
	    <h1 class="display-3">Scarlet Studies</h1>
	    <p class="lead">Rutgers student groups.</p>
	    <p><a class="btn btn-primary btn-lg register" routerLink="/auth/register" role="button">Sign Up For Free &raquo;</a></p>
	</div>
    </div>

    <div class="container">
	<div class="row">
	    <div class="col-md-4">
		<h2>No Pay Walls.</h2>
		<p>Share notes directly with your classmates. Access previous semester content. For Free.</p>
	    </div>
	    <div class="col-md-4">
		<h2>No Fragmentation.</h2>
		<p>All Rutgers courses pre-loaded in a single location. No need to share numbers or hope for a Discord invite - everyone signs up here.</p>
	    </div>
	    <div class="col-md-4">
		<h2>By Students, for Students.</h2>
		<p>It's not Piazza, Blackboard, or Sakai. Vent your feelings about the teacher. Share homework answers.</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-4">
		<h2>Developer Friendly.</h2>
		<p>Think the project looks bad? Wondering where the mobile app is? Check out the Scarlet Studies API!</p>
		<p><a class="btn btn-secondary" target="_blank" href="https://api.scarletstudies.org/">Visit Swagger &raquo;</a></p>
	    </div>
	    <div class="col-md-4">
		<h2>Free as in Freedom.</h2>
		<p>Contribute to the project or fork and run your own.</p>
		<p><a class="btn btn-secondary" target="_blank" href="https://github.com/ScarletStudies/docs">Visit Github &raquo;</a></p>
	    </div>
	    <div class="col-md-4">
		<h2>Free as in Beer.</h2>
		<p>Donations cover hosting costs.</p>
		<p>
		    <a class="btn btn-secondary" target="_blank" href="https://liberapay.com/russon77/">Liberapay &raquo;</a> or <a class="btn btn-secondary" target="_blank" href="https://www.patreon.com/user/overview?u=11323043">Patreon &raquo;</a>
		</p>
	    </div>
	</div>
    </div>
</main>

<app-footer></app-footer>
