<main role="main">
    <div class="container mt-2">
	<h1>Manage Courses</h1>

	<h2>Course Schedule</h2>

	<table class="table table-striped">
	    <thead>
		<tr>
		    <th scope="col">Course Name</th>
		    <th scope="col">Course ID</th>
		    <th scope="col">Department</th>
		    <th scope="col">Actions</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    <td>Programming 1</td>
		    <td>23:98:101</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
		<tr>
		    <td>Programming 2</td>
		    <td>23:98:102</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
		<tr>
		    <td>Programming Languages</td>
		    <td>23:98:280</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
	    </tbody>
	</table>

	<h2>Add Course</h2>

	<form>
	    <div class="form-row">
		<div class="col">
		    <input type="text" class="form-control search" placeholder="Search...">
		</div>
		<div class="col">
		    <select class="form-control custom-select">
			<option>Default select</option>
			<option>Computer Science</option>
		    </select>
		</div>
	    </div>
	</form>

	<table class="table table-striped mt-2">
	    <thead>
		<tr>
		    <th scope="col">Course Name</th>
		    <th scope="col">Course ID</th>
		    <th scope="col">Department</th>
		    <th scope="col">Actions</th>
		</tr>
	    </thead>
	    <tbody>
		<tr class="course available">
		    <td>Programming 1</td>
		    <td>23:98:101</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
		<tr class="course available">
		    <td>Programming 2</td>
		    <td>23:98:102</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
		<tr class="course available">
		    <td>Programming Languages</td>
		    <td>23:98:280</td>
		    <td>Computer Science</td>
		    <td></td>
		</tr>
	    </tbody>
	</table>	
    </div>
</main>
