<!-- thanks to https://getbootstrap.com/docs/4.1/examples/sign-in/ -->
<form class="form-signin mt-3"
      [formGroup]="form"
      (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <label for="inputEmail"
	   class="sr-only">
	Email address
    </label>
    <input formControlName="email"
	   type="email"
	   id="email"
	   class="form-control"
	   placeholder="Email address *">

    <label for="inputPassword"
	   class="sr-only">
	Password
    </label>
    <input formControlName="password"
	   type="password"
	   id="password"
	   class="form-control"
	   placeholder="Password *">

    <label for="inputPasswordConfirmation"
	   class="sr-only">
	Password Confirmation
    </label>
    <input formControlName="passwordConfirmation"
	   type="password"
	   id="passwordConfirmation"
	   class="form-control"
	   placeholder="Password Confirmation *">

    <button class="btn btn-lg btn-primary btn-block"
	    type="submit"
	    [disabled]="form.invalid">
	Create account
    </button>
</form>

<div *ngIf="registered"
     class="d-flex justify-content-center">
    <div class="alert alert-success registration-success"
	 style="max-width: 20rem;"
	 role="alert">
	<strong>Registration success.</strong> Please check your email for an activation link.
	You will not be able to login until the account has been verified.
    </div>
</div>

<div class="form-signin">
    <p>
	Have an account? <a class="register" routerLink="/login">Login</a>.
    </p>
</div>
