<div class="card m-2">
    <div class="card-body pb-0 comment-content"
	 [innerHtml]="safeCommentContent">
    </div>
    <div class="card-footer small text-muted">
	<span class="comment-timestamp">
	    {{ comment.timestamp | date:'medium' }}
	</span>
	&bull;
	<span class="comment-author">
	    {{ comment.author.email }}
	</span>
	<span *ngIf="op?.email === comment.author.email">
	    &bull;
	    <span class="original-poster" title="Author of post">
		Post Author
	    </span>
	</span>
	<span *ngIf="comment.author.email === currentUser?.email">
	    &bull;
	    <button type="button"
		    class="btn btn-sm btn-danger ml-1 comment-delete"
		    (click)="erase.emit()">
		<i class="fa fa-trash"></i>
	    </button>
	</span>
    </div>
</div>
